.container {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

.root {
    margin-left: auto;
    margin-right: auto;
    /* width: 500px; */
}

.switchGender {
    display: flex;
    padding: 0px;
    margin: 0px 0;
}

.errors {
    color: rgb(177, 45, 45);
    font-size: 12px;
}